@charset "utf-8";

/* ==========================================================================
   #FONTS -- SPOQA HAN SNAS SUBSET
   ========================================================================== */

@font-face {
	font-family: 'Spoqa Han Sans Subset';
	font-weight: 700;
	src: local('Spoqa Han Sans Bold'),
	url('../font/Spoqa-Han-Sans-Bold-Subset.woff2') format('woff2'),
	url('../font/Spoqa-Han-Sans-Bold-Subset.woff') format('woff'),
	url('../font/Spoqa-Han-Sans-Bold-Subset.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Subset';
	font-weight: 400;
	src: local('Spoqa Han Sans Regular'),
	url('../font/Spoqa-Han-Sans-Regular-Subset.woff2') format('woff2'),
	url('../font/Spoqa-Han-Sans-Regular-Subset.woff') format('woff'),
	url('../font/Spoqa-Han-Sans-Regular-Subset.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Subset';
	font-weight: 300;
	src: local('Spoqa Han Sans Light'),
	url('../font/Spoqa-Han-Sans-Light-Subset.woff2') format('woff2'),
	url('../font/Spoqa-Han-Sans-Light-Subset.woff') format('woff'),
	url('../font/Spoqa-Han-Sans-Light-Subset.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoqa Han Sans Subset';
	font-weight: 100;
	src: local('Spoqa Han Sans Thin'),
	url('../font/Spoqa-Han-Sans-Thin-Subset.woff2') format('woff2'),
	url('../font/Spoqa-Han-Sans-Thin-Subset.woff') format('woff'),
	url('../font/Spoqa-Han-Sans-Thin-Subset.ttf') format('truetype');
}

html, body {
  font-family: 'Spoqa Han Sans Subset',sans-serif;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 1.538;
  font-weight: 300;
  letter-spacing: -0.3px;
  color: #666;
}

/* layout */

h1,
h2,
p { padding: 20px; }
h1 { position: relative; font-size: 28px; color: #000; }
h1:before { content: ""; position: absolute; left: 0; bottom: 5px; width: 100%; height: 1px; background-color: #eee; }
h2 { font-size: 20px; color: #111; text-transform: uppercase; }
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font100 { font-weight: 100; }
.font200 { font-weight: 200; }
.font300 { font-weight: 300; }
.font400 { font-weight: 400; }
.font500 { font-weight: 500; }
.font600 { font-weight: 600; }
.font700 { font-weight: 700; }
.font800 { font-weight: 800; }
.font900 { font-weight: 900; }
.font-info { color: #222; }