@charset "utf-8";

/* ==========================================================================
   sprites
   ========================================================================== */

@mixin sprite-width($sprite) {
	width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
	height: map-get($sprite, 'height');
}

@mixin sprite-image($sprite) {
	$spritesheet: map-get($sprite, 'canvas');
	$sprite-image: map-get($spritesheet, 'background-image');
	background-image: url($sprite-image);
}

@mixin sprite-position($sprite) {
	$sprite-pos-x: map-get($sprite, 'x');
	$sprite-pos-y: map-get($sprite, 'y');
	background-position:$sprite-pos-x $sprite-pos-y;
}

@mixin sprite-size($sprite) {
	$spritesheet: map-get($sprite, 'canvas');
	$sprite-size-width: map-get($spritesheet, 'width');
	$sprite-size-height: map-get($spritesheet, 'height');
	-webkit-background-size: $sprite-size-width $sprite-size-height;
	background-size: $sprite-size-width $sprite-size-height;
}

@mixin sprite($sprite) {
	@include sprite-width($sprite);
	@include sprite-height($sprite);
	@include sprite-image($sprite);
	background-repeat: no-repeat;
	@include sprite-position($sprite);
	@include sprite-size($sprite);
	text-indent: 1000%;
	white-space: nowrap;
	overflow: hidden;
}