@charset "utf-8";

/* ==========================================================================
   #FONTS -- NANUMSQUARE
   ========================================================================== */

@font-face {
  font-family: 'Nanum Square';
  src: url("../fonts/NanumSquareL.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/NanumSquareL.woff") format("woff"), /* Modern Browsers */
  url("../fonts/NanumSquareL.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("../fonts/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a") format("svg"); /* Legacy iOS */
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("../fonts/NanumSquareR.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/NanumSquareR.woff") format("woff"), /* Modern Browsers */
  url("../fonts/NanumSquareR.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("../fonts/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb") format("svg"); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("../fonts/NanumSquareB.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/NanumSquareB.woff") format("woff"), /* Modern Browsers */
  url("../fonts/NanumSquareB.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("../fonts/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf") format("svg"); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("../fonts/NanumSquareEB.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/NanumSquareEB.woff") format("woff"), /* Modern Browsers */
  url("../fonts/NanumSquareEB.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("../fonts/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87") format("svg"); /* Legacy iOS */
  font-style:   normal;
  font-weight:  900;
}

html, body {
  font-family: 'Nanum Square',sans-serif;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 1.538;
  font-weight: 300;
  letter-spacing: -0.3px;
  color: #666;
}

/* layout */

h1,
h2,
p { padding: 20px; }
h1 { position: relative; font-size: 28px; color: #000; }
h1:before { content: ""; position: absolute; left: 0; bottom: 5px; width: 100%; height: 1px; background-color: #eee; }
h2 { font-size: 20px; color: #111; text-transform: uppercase; }
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font100 { font-weight: 100; }
.font200 { font-weight: 200; }
.font300 { font-weight: 300; }
.font400 { font-weight: 400; }
.font500 { font-weight: 500; }
.font600 { font-weight: 600; }
.font700 { font-weight: 700; }
.font800 { font-weight: 800; }
.font900 { font-weight: 900; }
.font-info { color: #222; }