@charset "utf-8";

/* ==========================================================================
   #FONTS -- ROBOTO
   ========================================================================== */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(../fonts/Roboto-Thin.woff2) format('woff2'),
	url(../fonts/Roboto-Thin.woff) format('woff'),
	url(../fonts/Roboto-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/Roboto-Light.woff2) format('woff2'),
	url(../fonts/Roboto-Light.woff) format('woff'),
	url(../fonts/Roboto-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
	url(../fonts/Roboto-Regular.woff) format('woff'),
	url(../fonts/Roboto-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Roboto-Medium.woff2) format('woff2'),
	url(../fonts/Roboto-Medium.woff) format('woff'),
	url(../fonts/Roboto-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Roboto-Bold.woff2) format('woff2'),
	url(../fonts/Roboto-Bold.woff) format('woff'),
	url(../fonts/Roboto-Bold.otf) format('opentype');
}


html, body {
	font-family: 'Roboto', sans-serif;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
	line-height: 1.538;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #666;
}


/* layout */

h1,
h2,
p { padding: 20px; }
h1 { position: relative; font-size: 28px; color: #000; }
h1:before { content: ""; position: absolute; left: 0; bottom: 5px; width: 100%; height: 1px; background-color: #eee; }
h2 { font-size: 20px; color: #111; text-transform: uppercase; }
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font100 { font-weight: 100; }
.font200 { font-weight: 200; }
.font300 { font-weight: 300; }
.font300 { font-weight: 300; }
.font350 { font-weight: 350; }
.font400 { font-weight: 400; }
.font500 { font-weight: 500; }
.font600 { font-weight: 600; }
.font700 { font-weight: 700; }
.font800 { font-weight: 800; }
.font900 { font-weight: 900; }
.font-info { color: #222; }